<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | https://firebasestorage.googleapis.com/v0/b/aries-a0120.appspot.com/o/-MtYnHWt73vQzDabD1K6%2Fimages%2F-MuSHplZSWmC4pXiaSqQ?alt=media&token=1a9ad597-4cad-481c-9f2b-459c9569576a }}" >

<!-- end custom head snippets -->
